.list-conainer {
  border-radius: var(--radius);
  background-color: var(--VeryLightGray);
  margin-top: -3rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  height: var(--min-list-height);
  position: relative;
  .list {
    height: calc(100% - 58px);
    overflow-y: auto;
  }
  .control {
    background-color: var(--VeryLightGray);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 1rem;
    color: var(--DarkGrayishBlue);
    justify-content: space-between;
    .clear:hover {
      cursor: pointer;
    }
  }
}
.empty-list {
  min-height: var(--min-list-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--VeryLightGray);
  margin-top: -3rem;
  border-radius: var(--radius);
  overflow-y: hidden;
  box-shadow: var(--box-shadow);
  gap: 2rem;
  .text {
    color: var(--DarkGrayishBlue);
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
    background: var(--CheckBackground);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    .icon {
      color: var(--VeryLightGray);
      font-size: 4rem;
    }
  }
}
.filter {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  border-radius: var(--radius);
  overflow-y: hidden;
  box-shadow: var(--box-shadow);
  ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.1rem;
    color: var(--DarkGrayishBlue);
    font-weight: bold;
    li:hover {
      cursor: pointer;
    }
    li.active {
      color: var(--BrightBlue);
    }
  }
}
