.list {
  background-color:var(--BrightBlue);
  margin-top: -3rem;
  border-radius: var(--radius);
  overflow-y: hidden;
  box-shadow: var(--box-shadow)
}

.filter {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  border-radius: var(--radius);
  overflow-y: hidden;
  box-shadow: var(--box-shadow);
  ul{
    width: 100%;
    display: flex; 
    list-style:none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.1rem;
    color: var(--DarkGrayishBlue);
    font-weight: bold;
    li:hover{
      cursor: pointer;
    }
    li.active{
      color: var(--BrightBlue);
    }
  }
}
