.task {
  width: 100%;
  background-color: var(--VeryLightGray);
  color: var(--DarkGrayishBlue);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border-bottom: 1px solid var(--LightGrayishBlue);
  .check-circle {
    width: 1.2rem;
    height: 1.2rem;
    flex-grow: 0; /* do not grow   - initial value: 0 */
    flex-shrink: 0; /* do not shrink - initial value: 1 */
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--LightGrayishBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    &.checked {
      background-image: var(--CheckBackground);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .close {
    height: min-content;
    width: min-content;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
  .text {
    transition: 0.5s all ease-in-out;
    width: max-content;
    &::after {
      transition: 0.5s all ease-in-out;
      display: block;
      content: "";
      width: 0%;
      height: 0;
      border-bottom: 1px solid var(--LightGrayishBlue);
      transform: translateY(-0.5rem);
    }
    &.checked {
      color: var(--LightGrayishBlue);
      &::after {
        transition: 0.5s all ease-in-out;
        width: 100%;
      }
    }
  }
}

.dark {
  .task {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--LightGrayishBlue);
    border-bottom: 1px solid var(--VeryDarkGrayishBlue);
    .check-circle {
      border: 1px solid var(--VeryDarkGrayishBlue);
    }

    .text {
      &::after {
        border-bottom: 1px solid var(--LightGrayishBlue);
      }
      &.checked {
        color: var(--DarkGrayishBlue);
      }
    }
  }
}
